@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    /* font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; */
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:2rem 0;
    background:cornflowerblue;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#333;
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:midnightblue;
}

header {
    background-image: url(big-enough.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    position: static;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #2596be;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    text-decoration: none;
    color: #2596be;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}

.navigation a:hover {
    color: darkturquoise;
}

section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(big-enough.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.profile-img {
    position: absolute;
    bottom: 0px;
    left: 950px;
}

.main h2 {
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #2596be;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 70%;
}

.main-btn {
    color: #fff;
    background-color: #2596be;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.5s ease;
}

.main-btn:hover {
    background-color: darkturquoise;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
    transition: 0.7s ease;
}

.social-icons a:hover {
    color: #2596be;
}

/*start about*/

.about {
    padding:2rem 9%;
}

.about .row {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container {
    flex: 1 1 20rem;
    position: relative;
}

.about .row .video-container img {
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 2rem;
    color: #333;
}

.about .row .content p {
    font-size: 1.6rem;
    color: #999;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

/*end about*/

.title {
    display: flex;
    justify-content: center;
    color: #2596be;
    font-weight: 800;
    font-size: 2.2em;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-image: url(big-enough.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 21.25em;
    box-shadow: 0 2px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #2596be;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #2596be;
    font-weight: 800;
    font-size: 1.2em;
    margin: 10px;
}

.info p {
    color: #fff;
}

.projects {
    background-image: url(big-enough.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.projects .content {
    margin-top: 30px;
}

.project-card {
    background-color: #fff;
    border: 10px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
    box-shadow: 0 2px 25px rgba(1 1 1 / 15%);
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
}

.project-image img {
    width: 100%;
}

.project-info {
    padding: 1em;
}

.project-category {
    font-size: 0.8em;
    color: black;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #2596be;
}

.more-details:hover {
    color: darkturquoise;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #fff;
}

.contact .info p {
    font-size: 1.5em;
}

.contact .info .email {
    font-size: 1.15em;
}

.contact .info a {
    color: #2596be;
    font-size: 1.1em;
    text-decoration: none;
}

.contact .info a:hover {
    transform: scale(1.1);
    color: darkturquoise;
}

.footer {
    background-image: url(big-enough.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: center;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
    text-align: center;
}

.footer-title span {
    color: #2596be;
}

@media (max-width:1023px) {
    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    .title {
        font-size: 1.8em;
    }

    .profile-img {
        display: none;
    }

    section {
        padding: 80px 20px;
    }

    .main-content h2 {
        font-size: 1em;
    }

    .main-content h3 {
        font-size: 1.6em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }

    .about .row .content h3 {
        font-size: 1.4rem;
        color: #333;
    }
    
    .about .row .content p {
        font-size: 1.1rem;
        text-align: center;
    }
}

@media (max-width:641px) {
    body {
        font-size: 12px;
    }

    .logo {
        font-size: 1.2em;
    }

    header .navigation {
        font-size: 0.7em;
    }

    .main-content h2 {
        font-size: 0.8em;
    }

    .main-content h3 {
        font-size: 1.4em;
    }

    .footer {
        font-size: 0.9em;
        font-weight: 600;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;
    }
}